.CardProdutoId {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    z-index: 3;

    p {
        font-size: 0.7rem;
        font-weight: 600;
    }

    .card {
        height: 250px;
        width: 200px;
        border-radius: 12px;
        border: solid 1px #000;
        overflow: hidden;

        .separacaoInfo {
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 1vh 1vw;
            gap: 0.7vh;
            background-color: #fff;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
            }

            p {
                align-self: start;
                color: #CACACA;
                font-size: 0.7rem;
            }

            button {
                all: unset;
                background-color: #FFB099;
                padding: 0.8vh 2vw;
                border-radius: 5px;
                color: #fff;
                font-family: Krona One;
                font-weight: 600;
                font-size: 0.7rem;
            }

            button:hover {
                box-shadow: 0px 0px 50px 0px #FFB099;
                transition: 0.3s;
                text-decoration: underline;
            }
        }

        #imagem {
            padding: 0;
        }
    }
}

@media (max-width:1280px) {
    .CardProdutoId {

        .card {

            .separacaoInfo {

                button {
                    font-size: 1rem;
                }
            }
        }
    }
}


@media (max-width:912px) {
    .CardProdutoId {

        .card {
            height: 275px;
            width: 125px;

            .separacaoInfo {
                gap: 0.5vh;

                button {
                    padding: 0.6vh 3vw;
                }
            }
        }
    }
}


@media (max-width:540px) {
    .CardProdutoId {

        .card {
            height: 225px;
            width: 175px;

            .separacaoInfo {
                gap: 0.8vh;
            }
        }
    }
}



@media (max-width:430px) {
    .CardProdutoId {

        .card {
            height: 200px;
            width: 125px;

            .separacaoInfo {
                gap: 0.5vh;

                h5 {
                    font-size: 0.7rem;
                }

                button {
                    font-size: 0.7rem;
                }
            }
        }
    }
}