.BotaoAdm {
    position: relative;
    z-index: 5;

    .botao {
        display: flex;
        position: fixed;
        bottom: 5vh;
        right: 5vw;
        border-radius: 100%;
        height: 100px;
        width: 100px;
        background-image: linear-gradient(#C1796D, #a19491);
        padding: 1vh 1vw;
        align-items: center;
        justify-content: center;

        img {
            height: 5vh;
        }
    }
}

@media (max-width:540px) {
    .BotaoAdm {

        .botao {
            height: 75px;
            width: 75px;

            img {
                height: 3vh;
            }
        }
    }
}