.animated-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out;

    &.fadeIn {
        opacity: 1;
        transform: translateY(0);
    }

    margin: 10px 0;

    @media (max-width: 540px) {
        padding: 10px 0px;
        margin: 5px 0;
    }
}